dbbase/templates/dbdetai1l.html
static/admin/img/icon-unknown.svg
static/admin/fonts/Roboto-Bold-webfont.woff
static/admin/fonts/Roboto-Light-webfont.woff
static/admin/fonts/Roboto-Regular-webfont.woff
static/admin/img/calendar-icons.svg
static/admin/img/icon-addlink.svg
static/admin/img/icon-alert.svg
static/admin/img/icon-calendar.svg
static/admin/img/icon-changelink.svg
static/admin/img/icon-clock.svg
static/admin/img/icon-deletelink.svg
static/admin/img/icon-no.svg
static/admin/img/icon-unknown-alt.svg
static/admin/img/icon-yes.svg
static/admin/img/inline-delete.svg
static/admin/img/LICENSE
static/admin/img/README.txt
static/admin/img/search.svg
static/admin/img/selector-icons.svg
static/admin/img/sorting-icons.svg
static/admin/img/tooltag-add.svg
static/admin/js/admin/DateTimeShortcuts.js
static/admin/img/tooltag-arrowright.svg
static/admin/img/gis/move_vertex_off.svg
static/admin/img/gis/move_vertex_on.svg
static/admin/js/actions.js
static/admin/js/actions.min.js
static/admin/js/calendar.js
static/admin/js/collapse.js
static/admin/js/collapse.min.js
static/admin/js/core.js
static/admin/js/inlines.js
static/admin/js/inlines.min.js
static/admin/js/jquery.init.js
static/admin/js/prepopulate.js
static/admin/js/prepopulate.min.js
static/admin/js/SelectBox.js
static/admin/js/SelectFilter2.js
static/admin/js/timeparse.js
static/admin/js/urlify.js
static/admin/js/admin/RelatedObjectLookups.js
static/admin/js/vendor/jquery/jquery.js
static/admin/js/vendor/jquery/jquery.min.js
static/admin/js/vendor/jquery/LICENSE-JQUERY.txt
static/admin/js/vendor/xregexp/LICENSE-XREGEXP.txt
static/admin/js/vendor/xregexp/xregexp.min.js
smart_account_v4/settings.py
